body{ 
	font-family: 'Press Start 2P', Helvetica, Arial, cursive; 
	color: #ccc;
	background: #000;
	font-size: 12px;
}

.game-container{
	width: 800px;
	margin-top: 20px;
}

#canvas{
	border: solid 1px #333;
	margin-top: 10px;
}

.game-info{
	text-align: center;
	color: #666;
	font-size: 10px;
}

.orbital-janitor-container{
	font-size: 12px;
}

a:link, a:visited{
	color: #ccc;
}

a:hover{
	color: #999;
}

td.num{
	text-align: right;
}

h4.level-heading{
	margin-top: 50px;
}

#wait{
	margin-top: 30px;
}
#game-info{
	display: none;
}

.orbital-janitor-container a{
	color: #0088cc;
	text-decoration: none;
}

.orbital-janitor-container a:hover,
.orbital-janitor-container a:focus {
  color: #005580;
  text-decoration: underline;
}

.very-muted{
	color: #333;
}

.navbar-inner {
  background-color: #333;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  border: solid 2px #666;
}

.navbar .nav>li>a{
	color: #fff;
	text-shadow: 0 1px 0 #000;
}

.navbar .nav>li>a:hover,
.navbar .nav>li>a:active{
	color: #ccc;
	text-shadow: 0 1px 0 #000;
}

.header{
	margin-bottom: 40px;
}

.game-info-row{
	margin-bottom: 40px;
}

.orbital-janitor-container p{
	margin-bottom: 20px;
}