body{ 
	font-family: 'Press Start 2P', Helvetica, Arial, cursive; 
	color: #ccc;
	background: #000;
	font-size: 12px;
}

.game-container{
	width: 800px;
	margin-top: 20px;
}

#canvas{
	border: solid 1px #333;
	margin-top: 10px;
}

.game-info{
	text-align: center;
	color: #666;
	font-size: 8px;
}

.game-info p{

}

.leaderboard{
	font-size: 12px;
}

a:link, a:visited{
	color: #ccc;
}

a:hover{
	color: #999;
}

td.num{
	text-align: right;
}

#post-score{
	display: none;
	background: #000;
	padding: 40px;
	border: solid 2px #ccc;
	text-align: center;
}

#post-score input{
	width: 300px;
}

#post-score input, #post-score button{
	font-family: 'Press Start 2P';
}

#post-score input{
	color: #000;
}

#post-score p{
	margin-bottom: 20px;
}